.bg-grey{
    background-color: lightgray;
    border: none;
}

.LaNavbar {
background-color: black;

}
.LaNavbar .nav-link {
    color: cornflowerblue;
}
.LaNavbar .navbar-brand{
  color: white;
  
}
.LaNavbar a.navbar-brand:hover,
.LaNavbar a.nav-link:hover {
  color: blue;
}
#menuBurger{
    color: white;
  }
  
footer {
    width: 100%; 
    background-color: black; 
    color: white; 
    text-align: center; 
    padding: 10px; 
  }

#mainDiv {
    height: 100vh;
}
 
  
  
  
  
  
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
